@charset "UTF-8";

/* Fonts Importadas do Google */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', serif;
    --fonte3: 'sriracha', cursive;
    --fonte4: 'Rubik Vinyl', serif;
    --fonte5: "Nosifer", sans-serif;
}

html, bady{
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

header > h1{
    font-size: 3em; /* se usar ( 4.5vw  ) Aumenta o tamanho da fonte conforme a largura da pagina */
    font-variant: small-caps; /*Coloca todas as letras em maiusculas.*/
    font-family: var(--fonte2)  
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: darkgoldenrod ;
    text-decoration: underline;
    font-weight: bolder;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /* Distancia entre linhas*/
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 16px;
}

section > p {
    padding-bottom: 2em;
}

section.normal{
    background-color: white;
    color: black;
}

section.com_imagem{
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-attachment: fixed; /* efeito parallax colocar imagem de fudo fixo.*/

}

section.com_imagem >p{
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.589);
    padding: 10px;
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02{
    background-image: url('imagens/background002.jpg');
    background-position: right center;
    background-size: cover;
}

footer{
    color: aquamarine;
    background-color: black;
    font-family: monospace;
    font-style: normal;
    padding: 10px;
    text-align: center;
}